{% extends 'epanchayathtemplates/master.html' %}

 
{% block content %}
{% load static %}
<div class="form-container">
  <form action="">
    <h3>Give Your Feedback</h3>
    <label for="">name</label>
    <input type="text" placeholder="name" required>
    <label for="">name</label>
    <input type="email" placeholder="e-mail" required>
    <label for="">name</label>
    <input type="#" placeholder="phone number" required>
    <label for="">your message</label>
    <textarea name="" id="" cols="20" rows="8" placeholder="your message"></textarea>
    <input type="button" value="submit">
  </form>

</div>
{% endblock %}