{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'js/javascript.js' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>
    <nav class="nav-1">
        <div class="nav-bar">
            <div class="nav-img">
                <img src="{% static 'images/logo.jpg' %}" alt="" width="50px">
            </div>
            <div class="navi-list">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href=""> <button class="btn-1">Feedback</button></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="grad2">

    </div>
    <h1 class="service">E-File Service</h1>
<div class="card-columns">
    <div class="card">
        <h1>Income Certificate</h1>
        <p><button>Apply Now</button></p>
    </div>
    <div class="card1">
        <h1>Caste Certificate</h1>
        <p><button>Apply Now</button></p>
    </div>
    <div class="card2">
        <h1>Possession Certificate</h1>
        <p><button>Apply Now</button></p>
    </div>
    <div class="card3">
        <h1>Ownership Certificate</h1>
        <p><button>Apply Now</button></p>
    </div>
    <div class="card4">
        <h1>Non re-marriage Certificate</h1>
        <p><button>Apply Now</button></p>
    </div>
    <div class="card5">
        <h1>Community Certificate</h1>
        <p><button>Apply Now</button></p>
    </div>
    <div class="card6">
        <h1>Domicile Certificate</h1>
        <p><button>Apply Now</button></p>
    </div>
    <div class="card7">
        <h1>Nativity Certificate</h1>
        <p><button>Apply Now</button></p>
    </div>
    <div class="card7">
        <h1>Minority Certificate</h1>
        <p><button>Apply Now</button></p>
    </div>
</div>
</body>

</html>